
body {background-color:#ffc733}
/*color mustard*/

h {font-family: Helvectica, Arial, sans-serif;}


html, body {height: 100%}

h1 {text-align:center;}

h2 {text-align:center;}

h3 {text-align:center;}

body {margin: auto;
	text-align:center;}

.nav a:hover{
    color: #af7ac5;
    font-size: 30px;
    text-decoration: underline;
}

/*color lavendar;*/


.gallery { display: flex;
}

.col {padding: 10px;
}
.col img {width: 100%;
}
